@model IEnumerable<Book>
@{
    ViewData["Title"] = "Books";
}

<div class="row mt-4">
    <div class=col-12>
        <h3>Programs</h3>
        <table class="table table-striped" id="datatable">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Author</td>
                            <td>
                                <a asp-action="BookDetails" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="DeleteBook" asp-route-id="@item.Id">Delete</a>
                            </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>