@model ProfileViewModel
@{
    ViewData["Title"] = $"{Model.UserName} User Profile";
}


<div class="container">
    <div class="row">
        <div class="col">
            <h1>@Model.UserName</h1>
        </div>
    </div>
</div>